@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    box-sizing:border-box;
    margin:0;
}
body{
    
    font-family:'Poppins', sans-serif;
    background-image: url(/weather-app/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
color:white;
}

.header{
    display:flex;
    color:#fff;
    margin-top:2%;
    justify-content: space-around;
}
.title{
    
    font-size:32px;
    text-transform:uppercase ;
    letter-spacing:1px;
}

#search{
    border:2px solid white;
    padding:5px;
    height:40px;
    width:120px;
}
.search-button{
    box-shadow:3px 3px 1px rgb(232, 150, 19);
    color:black;
    border: none;
    padding:10px;
    cursor: pointer;
    transition: all .3s;
}
.search-button:hover{
    background-color:rgb(232, 150, 19);
    box-shadow:3px 3px 1px rgb(255, 255, 255);
}
.content{
    margin:3%;
    min-height:50vh;
    border:2px solid white;
    display:flex;
    justify-content: space-around;
}
.col-1{
    display:grid;
    gap:3% 5%;
    min-width:30vw;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows:repeat(4,1fr);
}
.col-1 .emoji{
    grid-area:2/1/4/3;
    background-color: blueviolet;
}
.col-1 .temperature{
    background-color: yellow;
    grid-area:2/3/4/5;
}
.col-1 .celsius{
    grid-area:2/5/3/6;
}
.col-1 .farenheit{
    grid-area:3/5/4/6;
}
.col-1 .location{
    grid-area:4/2/5/5;
}
.col-1>*{
    
    border:2px solid white;
}
.col-2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
gap:10px;
}
.col-2 > *{
   
    width:12vw;
    border-radius:5px;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.8));
    color:#fff;
    transition:all .1s;
}
.col-2 > *:hover{
    transform:translate(1%,2%);
}
