@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    box-sizing:border-box;
    margin:0;
}
body{
    
    font-family:'Poppins', sans-serif;
    min-height:100vh;
    background-image: url(/weather-app/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.shower{
    position:fixed;
    margin-top:-160vh;
    animation: fall 3s ease-in;
}
@keyframes fall{
    to{
        margin-top:-120vh;
    }
}
.header{
    display:flex;
    color:#fff;
    margin-top:2%;
    justify-content: space-around;
}
.title{
    
    font-size:32px;
    
    letter-spacing:1px;
}

#search{
    border:2px solid white;
    padding:5px;
    height:40px;
    width:120px;
}
.search-button{
    box-shadow:3px 3px 1px rgb(232, 150, 19);
    color:black;
    border: none;
    padding:10px;
    cursor: pointer;
    transition: all .3s;
}
.search-button:hover{
    background-color:rgb(232, 150, 19);
    box-shadow:3px 3px 1px rgb(255, 255, 255);
}
.content{
    margin-top:5%;
}
.content .row-1{
    display: flex;
    justify-content: center;
}
.content .row-1 .card-1{
   height:35vh;
   width:15vw;
   justify-self: center;
   background-image: linear-gradient(to bottom right,rgba(215, 180, 180,0.5), rgba(138, 138, 212,0.5));
   border:2px solid rgb(132, 121, 121);
   border-radius:5px;
}

.content .row-2{
    display: flex;
    justify-content: space-evenly;
    margin-top:2%;
}
.content .row-2 > *{
    height:35vh;
    width:15vw;
   border:2px solid rgb(132, 121, 121);
   border-radius:5px;
   background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}
.content .box-1{
    display:flex;
    height:300px;
    justify-content:space-evenly;
   background-color: rgb(0, 0, 0);
    
}
.content .box-1 *{
    width:150px;
    padding:30px 10px;
    font-size: 1.2rem;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content .box-2 .location p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-transform: capitalize;
font-size: 1.5rem;
margin-left: 50%;
margin-top:1%;
margin-bottom:1%;
color:antiquewhite;
}