@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    box-sizing:border-box;
}
body{

    
   
    background-color:#000;
    
    font-family:'Poppins', sans-serif;
    
    
}

.cover{
    width:50vw;
    height:50vh;
    border:2px solid white;
}
.squares{
    display: flex;
    justify-content:space-around;
    margin-top:40px;
}
.squares *{
 width:5vw;
 height:5vh;
 border:1px solid rgb(235, 222, 222);
 transition:border 1s;
 
}
.squares *:hover{
    border:1px solid gray;
}
.data{
 margin-top:-100px;
 position:fixed;
 animation:fall 3s ease-in;
}

@keyframes fall{
    to{
        margin-top:450px;
    }
}
