@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Jacques+Francois+Shadow&family=Londrina+Sketch&family=Nunito:wght@300;400;500;600;700&family=Orbitron:wght@400;500&family=Poppins:wght@400;500&family=Rubik+80s+Fade&family=Rubik+Distressed&family=Teko:wght@400;500;600;700&family=Zen+Dots&display=swap'); 
*{
    box-sizing:border-box;
}
.container{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,50px);
}
@font-face{
    font-family:'sanskrit';
    src:url('fonts/SamarkanNormal-Gg5D.ttf');
}
.header{
    grid-area:1/3/2/11;
    font-size:32px;
    letter-spacing: 1.5px;
    align-self: center;
    justify-self: center;
    font-family: 'sanskrit';
}
.input-container{
    grid-area:2/1/4/11;
}

.countdown-container{
    border:1px solid;
    grid-row: 6/ span 3;
    grid-column: 1/13;
    max-width: 100%;
    display:flex;

}
.big-text{
    font-size:50px;
    line-height:1;
    margin:10px;
}
.countdown-el{
    text-align:center;
}
.countdown-el span{
    font-size:14px;
}